html, body{
    margin: 0;
}
body {
    background-color: #f1f1f1;
    font-family: 'Quicksand', sans-serif;
}
 .main {
   display: flex;
   flex-wrap: wrap;
} 


 .main-heading{
    height: 200px;
    width: 100%;
    background-color: #3376bb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;

}

.navbar{
    width: 90%;
    margin-top:20px; 
}
#heading-icon{
    background-image: url('images/1761eac3b1967fa6e4cafb6af110abcc.png');
    background-position: center;
    background-size: cover;
    width: 209px;
    height: 63px;
}



.card{
display: flex;
flex-basis: 300px;
min-width: 300px;
flex: 1;
margin: 60px 6px;
}

.card-title{
     font-size: 20px;
}

.card-text{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-img-top{
    width:100% ;
    height:303px;
    background-size: cover;
    background-position: center;
}
/* Responsive layout - makes a two colum-layout instead of four colums */
@media screen and (max-width: 900px) {
    .colum {
        width: 50%;
    }
}

/* Responsive layout - makes the two colums stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .colum {
        width: 100%;
    }
    .navbar
    {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
  
    .navbar
    {
        width: 100%;
    }
}